.App {
  padding-top: 30px;
}

.App__logo{
  width: 300px;
}

.App__title{
  text-align: center;
  font-size: 50px;
}

.container{
  max-width:1450px;
  margin: 0 auto;
}

.carts{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 20px;
}
