.App {
  padding-top: 30px;
}

.App__logo{
  width: 300px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:inherit;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.navbar{
  display: flex;
}

.navbar__item{
  font-size: 20px;
  margin-right: 20px;
}

.App__title{
  text-align: center;
  font-size: 50px;
}

.container{
  max-width:1450px;
  margin: 0 auto;
}

.carts{
  display: grid;
  justify-items:center;
  grid-template-columns:1fr 1fr 1fr;
  gap: 20px;
}

.cart{
  justify-items: center;
}
